.animated-text.animated-text--fullscreen
    .animated-text__container
      // 1
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')

      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')

      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
  
      // 2
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')

      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')

      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')
      .animated-text__item
        img.animated-text__image(src=require('../assets/images/animated-text.svg')  alt='')


