.animated-text-vertical
    .animated-text-vertical__container
      // 1
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')

      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')

      // 2
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')

      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
      .animated-text-vertical__item
        img.animated-text-vertical__image(src=require('../assets/images/animated-text-vertical.svg')  alt='')
