.carousel
  .carousel__container
    // 1
    .carousel__wrapper.carousel__wrapper--js
      figure.carousel__item
        a.carousel__link(href='#')
          img.carousel__image(src=require('../assets/images/photo-382x490-1.jpg') alt='')
        figcaption.carousel__header
          h2.carousel__title Lorem ipsum dolor sit, amet
          span.carousel__info CAMPAIN
          span.carousel__cta 299 PLN
      figure.carousel__item
        a.carousel__link(href='#')
          img.carousel__image(src=require('../assets/images/photo-382x490-2.jpg') alt='')
        figcaption.carousel__header
          h2.carousel__title Lorem ipsum dolor sit, amet
          span.carousel__info CAMPAIN
          span.carousel__cta 299 PLN
      figure.carousel__item
        a.carousel__link(href='#')
          img.carousel__image(src=require('../assets/images/photo-382x490-1.jpg') alt='')
        figcaption.carousel__header
          h2.carousel__title Lorem ipsum dolor sit, amet
          span.carousel__info CAMPAIN
          span.carousel__cta 299 PLN
      figure.carousel__item
        a.carousel__link(href='#')
          img.carousel__image(src=require('../assets/images/photo-382x490-2.jpg') alt='')
        figcaption.carousel__header
          h2.carousel__title Lorem ipsum dolor sit, amet
          span.carousel__info CAMPAIN
          span.carousel__cta 299 PLN
      figure.carousel__item
        a.carousel__link(href='#')
          img.carousel__image(src=require('../assets/images/photo-382x490-1.jpg') alt='')
        figcaption.carousel__header
          h2.carousel__title Lorem ipsum dolor sit, amet
          span.carousel__info CAMPAIN
          span.carousel__cta 299 PLN
      figure.carousel__item
        a.carousel__link(href='#')
          img.carousel__image(src=require('../assets/images/photo-382x490-2.jpg') alt='')
        figcaption.carousel__header
          h2.carousel__title Lorem ipsum dolor sit, amet
          span.carousel__info CAMPAIN
          span.carousel__cta 299 PLN
