.logo-carousel(id='reebok')
  .logo-carousel__container
    .logo-carousel__wrapper.logo-carousel__wrapper--js
      figure.logo-carousel__item
        img.logo-carousel__image(src=require('../assets/images/logo-reebok.svg') alt='')
      figure.logo-carousel__item
        img.logo-carousel__image(src=require('../assets/images/logo-reebok.svg') alt='')
      figure.logo-carousel__item
        img.logo-carousel__image(src=require('../assets/images/logo-reebok.svg') alt='')
      figure.logo-carousel__item
        img.logo-carousel__image(src=require('../assets/images/logo-reebok.svg') alt='')
      figure.logo-carousel__item
        img.logo-carousel__image(src=require('../assets/images/logo-reebok.svg') alt='')
      figure.logo-carousel__item
        img.logo-carousel__image(src=require('../assets/images/logo-reebok.svg') alt='')
      


