nav.navigation 
  ul.navigation__container 
    li.navigation__item 
      a.navigation__logo(href="#reebok") 
        img.navigation__image(src=require('../assets/images/logo-reebok.svg') alt='')
    li.navigation__item 
      a.navigation__logo(href="#puma") 
        img.navigation__image(src=require('../assets/images/logo-puma.svg'), alt="")
    li.navigation__item 
      a.navigation__logo(href="#champion") 
        img.navigation__image(src=require('../assets/images/logo-champion.svg'), alt="")
    li.navigation__item 
      a.navigation__logo(href="#sprandi") 
        img.navigation__image(src=require('../assets/images/logo-sprandi.svg'), alt="")
    li.navigation__item 
      a.navigation__logo(href="#fila") 
        img.navigation__image(src=require('../assets/images/logo-fila.svg'), alt="")